<div class="header"></div>
<div
  class="page-size col-md-12 pagination justify-content-center pagination-lg"
>
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </option>
  </select>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>

<table
  class="table table-striped-columns table-fit table-responsive-sm table-hover"
>
  <caption>
    List of category
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>LastUpdate Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="table-group-divider"
      *ngFor="
        let item of response.result
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: response.totalItems
              };
        let i = index
      "
    >
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.lastUpdate }}</td>
      <td (click)="lgModal.show(); currentFormId = item.id;topicForm = item">
        <span class="material-symbols-outlined"> brush </span>
      </td>
      <td (click)="deleteById(item.id)">
        <span class="material-symbols-outlined"> delete </span>
      </td>

      <!-- Add the modal to the page -->

      <div
        bsModal
        #lgModal="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="dialog-sizes-name1"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit Form</h4>
              <button
                type="button"
                class="close"
                (click)="lgModal?.hide()"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm">
                <label for="name" class="col-form-label col-sm-6">Name:</label>
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [(ngModel)]="topicForm.name"
                  />
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="submitEditForm(editForm); lgModal?.hide()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<div
  class="page-size col-md-12 pagination justify-content-center pagination-lg"
>
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </option>
  </select>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>
<div class="page-size"></div>
<hr>
<br>
<button class="createbtn btn btn-primary"  (click)="createModal.show()">Create</button>
<div
  bsModal
  #createModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Form</h4>
        <button
          type="button"
          class="close"
          (click)="createModal?.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <label for="name" class="col-form-label col-sm-6">Name:</label>
          <div>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [(ngModel)]="topicForm.name"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="create(editForm); createModal?.hide()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
